Chi tiết người dùng: <%= data.rows.username %>
<table class = table>
    <tbody class="table-group-divider">
        <tr>
            <th scope="col">Tài khoản</th>
            <td>
                <%= data.rows.username %>
            </td>
        </tr>
        <tr>
            <th scope="col">Họ tên</th>
            <td>
                <%= data.rows.fullname %>
            </td>
        </tr>
        <tr>
            <th scope="col">Địa chỉ</th>
            <td>
                <%= data.rows.address %>
            </td>
        </tr>
        <tr>
            <th scope="col">Giới tính</th>
            <td>
                <%= data.rows.sex %>
            </td>
        </tr>
        <tr>
            <th scope="col">Email</th>
            <td>
                <%= data.rows.email %>
            </td>
        </tr>
    </tbody>
</table>